html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #174E11;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .app {
    .game-page {
      margin-top: 60px;
    }
  }
  .border-less tr td {
    border: none !important;
    padding: 0 !important;
  }
  .game-board {
    .my-score {
      text-align: center;
      font-size: 50px;
      margin-top: 20px;
      display: block;
    }
  }
  .users-list {
    tbody {
      overflow-y: scroll;
      height: 480px;
      width: 100%;
      position: absolute;
      font-weight: bolder;
      font-size: 20px;
      .score {
        text-align: right;
      }
      .username {
        text-align: left;
      }
    }
  }
  .chat-box {
    #message_list {
      overflow-y: scroll;
      height: 450px;
      width: 100%;
      font-weight: bolder;
    }
    .form-group {
      margin-top: 10px;
    }
    .colon {
      color: white;
    }
  }
  .board-svg {
    display: block;
    margin: auto;
  }

  .full-height {
    height: 100%;
  }

  .page-center {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-page {
    input[type="text"] {
      width: 100%;
      border: solid 5px #c9c9c9;
      -webkit-transition: border 0.3s;
      -moz-transition: border 0.3s;
      -o-transition: border 0.3s;
      transition: border 0.3s;
    }
    input[type="text"]:focus, input[type="text"].focus {
      border: solid 5px #969696;
      outline: none;
    }
    .button-center-wrapper {
      text-align: center;
      input[type="button"] {
        background-color: yellowgreen;
        color: darkgreen;
        position: relative;
        width: 100%;
      }
    }
    .error-join-message {
      color: red;
      margin-top: 10px;
      width: 100%;
      display: block;
      word-wrap: break-word;
      text-align: center;
      font-weight: bold;
      font-size: 15px;
    }
  }
}
